/* .theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 30px;
  background-color: #000000;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.theme-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: transform 0.3s ease;
}

.slider {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #3b3b3b;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.slider.light {
  transform: translateX(0);
}

.slider.dark {
  transform: translateX(68px);
}  */