html {
    scroll-behavior: smooth;
}

.navbar {
    margin:0;
    padding: 0;
    width:97%;
    max-width: 97vw;
    display: flex;
    align-items: flex-end;
    background-color: #020512;
    gap: 26%;
    padding: 10px 20px;
    position: relative;
}

.navbar img {
    width: 300px;
    transition: 0.3s ease;
    margin-left: 20px;
}

.navbar img:hover {
    transform: scale(1.2);
}

.navbar ul {
    display: flex;
    gap:40px;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
}

.link_nav {
    color: #ffffff;
    text-decoration: none;
    width: fit-content;
}

.navbar li {
    margin: 10px 10px 10px 10px;
    /* margin: auto; */
    transition: 0.3s ease;
    padding:5px;
    border-radius: 10px;
}

.navbar li:hover {
    color: #ffffff;
    max-width:600px ;
    cursor: pointer;
    color: #ff8412;
    transform: translateY(-5px);
}

.navbar button {
    background-color: #ff8412;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    transition: 0.4s ease;
    margin-top: 10px;
}

.navbar button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Hide the menu icon by default */
.menu_open {
    display: none;
    max-width: 40px;
    cursor: pointer;
}

/* Close button (not needed initially) */
.menu_close {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* Responsive navbar */
@media (max-width: 768px) {
    .navbar ul {
        position: absolute;
        top: 80%;
        left: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        backdrop-filter: blur(10px);
        background: rgba(2, 5, 18, 0.9);
        gap: 0px;
        padding: 10px 0;
        display: none; /* Hide the nav items by default */
    }

    .navbar ul.show {
        display: flex; 
        justify-content:center;
        align-items: center;
        gap:5px;
        backdrop-filter: blur(10px);
        z-index: 1;
    }

    .navbar ul li {
        text-align:center;
    }
   

    .menu_open {
        position:fixed;
        right:10%;
        top:5%;
        display:block;
        z-index:999;
        max-width:50px;
    }
/* 
    .menu_close{
        display: block;
        z-index: 1000;
        max-width:80px;
        right:30%;
        top:10%;
    } */
}
@media (max-width:480px){
    .navbar{
        height:100%;
    }
    img.logo{
        max-width:180px;
        margin: 0;
    }
    .menu_open {
        position:fixed;
        right:10%;
        top:3%;
        display:block;
        z-index:999;
        max-width:35px;
    }
    .navbar ul.show {
        margin-top: 3%;
        display: flex; 
        justify-content:center;
        align-items: center;
        gap:5px;
        backdrop-filter: blur(10px);
        z-index: 1;
    }
}