html {
    scroll-behavior: smooth;
  }
  
  .logo {
    width: 300px;
    transition: 0.3s ease;
    cursor: pointer;
    margin-left: 0 auto;
  }
  
  .logo:hover {
    transform: scale(1.2);
  }
  
  .navbar {
    width: 100%;
    margin-top: -10px;
    background-color: #020512;
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 30px rgba(255, 132, 18, 0.5);
  }
  
  .navbar-content {
    width: 1450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar ul {
    display: flex;
    gap: 65px;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
    align-items: center;
  }
  
  .link_nav {
    color: #ffffff;
    text-decoration: none;
    width: fit-content;
  }
  
  .link_nav.active {
    text-decoration: #ff8412 underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    color: #ffffff;
    border-radius: 15px;
    transition: 0.8s all;
    height: max-content;
    animation: grow 0.4s ease-in-out;
  }
  
  .link_nav.active .contact_but {
    animation: none !important;
    transform: none !important;
    text-decoration: none !important;
    text-underline-offset: unset !important;
  }
  
  @keyframes grow {
    0% {
      transform: scale(1.0);
      text-underline-offset: -20px;
      z-index: 2000;
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1.0);
    }
  }
  
  .navbar button {
    background-color: #ff8412;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    transition: 0.4s ease;
  }
  
  .navbar button:hover,
  .contact_but button:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .menu_open,
  .menu_close {
    display: none;
    cursor: pointer;
  }
  
  .menu_open {
    max-width: 40px;
  }
  
  .menu_close {
    width: 50px;
    height: 50px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .navbar-content {
      flex-direction: column;
      align-items: flex-start;
      padding:5px 20px;
    }
  
    .navbar ul {
      position: absolute;
      margin-top: 0;
      top: 100%;
      left: 0;
      width: 100%;
      flex-direction: column;
      text-align: center;
      backdrop-filter: blur(10px);
      background: rgba(2, 5, 18, 0.9);
      gap: 35px;
      padding: 20px 0px 10px 0px ;
      display: none;
    }
  
    .navbar ul.show {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  
    .menu_open {
      display: block;
      max-width: 50px;
      position:fixed;
      right: 5%;
      top: 45px;
      z-index: 3000;
    }
  
    /* .menu_close {
      display: block;
      position: absolute;
      right: 5%;
      top: 20px;
    } */
  }
  
  @media (max-width: 480px) {
    .logo {
      max-width: 180px;
    }
  
    .navbar-content {
      padding: 0 10px;
    }
  
    .menu_open {
      max-width: 50px;
      top:17px;
    }
  }
  